@import "tailwindcss";
/* @import "tailwindcss/preflight";  Replaces @tailwind base */
/* @import "tailwindcss/utilities";  Replaces @tailwind components & utilities */
/* @import "github-markdown-css"; */

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;
  
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
